.login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/*******(    LOGIN PANEL   )********/
.login_panel {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login_content {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login_content {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.form_content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login_input {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  border: 1px solid rgba(94, 110, 110, 0.424);
}

.login_input:focus {
  outline: 0;
  background: linear-gradient(
    135deg,
    rgb(145, 235, 153),
    rgb(150, 217, 156)
  );
}

#login_button {
  width: 100%;
  height: 35px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: white;
  background: linear-gradient(
    135deg,
    rgb(6, 184, 23),
    rgb(21, 92, 28)
  );

  transform: scale(1);
  transition: 0.9s;

}

#login_button:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

/*******(    LOGO PANEL   )********/

.logo_panel {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #231f20;
  color: white;
}

.logo_content {
  position: relative;
  bottom: 50px;
}

/*******(    RESPONSIVE   )********/

@media screen and (max-width: 1040px) {
  .logo_panel img {
    max-width: 70%;
  }

  .logo_panel h2 {
    font-size: max(25px, 20%);
  }
}

@media screen and (max-width: 500px) {
  .logo_panel {
    display: none;
  }

  .login_panel {
    width: 100%;
  }
}