<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta description="Página de Login">
    <title>Login TRENTO</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='./login.css'>
    <link rel='stylesheet' href='./cadastro.css'>
    <link rel="stylesheet" href="./plugin/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <main class="login">
        <section class="login_panel">
            <div class="login_content">
                <div class="login_title">
                    <h2>Login</h2>
                </div>
                <form class="login_form">
                    <div class="form_content">
                        <label for="e-mail">Email</label>
                        <input type="email" class="login_input" id="e-mail" placeholder="Digite seu e-mail">
                    </div>
                    <div class="form_content">
                        <label for="senha">Senha</label>
                        <input type="password" class="login_input" id="senha" placeholder="Digite sua senha">
                    </div>
                    <div class="form_button">
                        <button type="submit" id="login_button"><a href="../../../home/templates/home/index.html" style="text-decoration: none;color: white">Login</a></button>
                        <button type="submit" id="register_button"><a href="./cadastro.html" style="text-decoration: none; color: white" >Cadastrar?</a></button>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>

<script src="plugin/bootstrap/js/bootstrap.min.js"></script>

</html>